<footer>
    <div class="container footer">
      <div class="row text-center">
        <div class="col-md-4">
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
        <div class="col-md-4">
          <h3>AROUND THE WEB</h3>
          <div class="icons p-3">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus-g"></i>
            <i class="fab fa-linkedin-in"></i>
          </div>
        </div>
        <div class="col-md-4">
          <h3>ABOUT FREELANCER</h3>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by Route
          </p>
        </div>
      </div>
    </div>
    <div class="text-center text-white p-5">
      <p>Copyright © Your Website 2021</p>
    </div>
  </footer>
  