<div class="container bg-slate-100 rounded border shadow p-2 w-[75%] ml-40 my-10">
  <div class="flex-col flex justify-center items-center py-20">
    <i class="fa-solid fa-circle-check text-9xl" style="color: #63E6BE;"></i>
    <h2 class="text-3xl font-bold py-4 text-[#63E6BE]">Payment Successful</h2>
    <h2 class="text-3xl font-bold py-4 text-[#63E6BE]">Thank You</h2>
    <button routerLink="/home" class=" text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-lg w-full sm:w-auto px-5 py-2.5 mt-4 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Done</button>
  </div>
</div>
